<div class="scrolled-content">
  @if (lang() === 'en') {
    <h3>Bio</h3>
    <p class="bio">
      <span class="bio-photo-wrapper">
        <img ngSrc="/images/eka.jpg" width="200" height="267" alt="Laura Kärki" class="bio-img" />
      </span>
      Laura Kärki (b.1978) is a Finnish visual artist living and working in
      Germany, Finland and artist residencies abroad. Laura Kärki is M.A.
      Master of Arts graduate 2006 of the Aalto University School of Art and
      Design Helsinki. She has Bachelor's degree in textile design from
      Metropolia Vantaa and ceramics artisan from Tammela Art and Crafts school.
    </p>

    <p>Kärki is working with poems, installation, sculpture and sound. Her artworks deal with themes of
      alienation and being an outsider.
      Loneliness, relatives and friends forgotten in a hurry and incapability
      for empathy are all connected to the social problems of the contemporary society.</p>

    <p>Her work has been exhibited in Finland and abroad such as Circulo de
      Bellas Artes in Madrid, Mänttä Art Festival, Museum of Wäinö Aaltonen
      and Museum of Vantaa. Her works are in as Finnish State Art Collections
      and Borenius &amp; Kemppinen Art Collections.</p>

    <h3>Artist Statement</h3>

    <p>I work with word, sight and sound. I am the visual artist, poet, and
      sound designer of my artworks. In addition to this I am a craftswoman too, so I let the
      techniques and the process of creation be visible in the artworks as a part of them.</p>

    <p>My artworks deal with themes of alienation and being an outsider.
      Loneliness, relatives and friends forgotten in a hurry, and incapability for empathy are all
      connected to the social problems of the contemporary society.</p>

    <p>I work in Berlin, Lahti, Helsinki and artist residencies abroad. I am
      currently working for my exhibitions in 2014 – 2015.</p>

    <h3>On my artistic work</h3>

    <p>In my artistic work, I combine poems, sculptures and a
      variety of soundscapes. I work with several simultaneous ideas, which gradually deepen, receiving
      stimuli from the surrounding life. My working processes are long, so a
      work's arc from idea to a finished piece of work or installation may take several years. I like the slow
      maturation of the works, it is interesting but also a challenge, as the
      life surrounding us is very fragmented. One must be able to hold on and
      to let go when searching for the final direction and form of the works. I choose the material of the
      works depending on the idea, and works have been born from materials such as washing sponges, toasts, and
      coffee filters.</p>

    <p>In recent years, I have made a series of sound installations, to which I have attached sound and other material related
      to home. For several years now, my works have been dealing with the effect of being in a constant hurry to
      people's living environment.</p>

    <p>At the moment I am working in Berlin, Lahti and Helsinki.</p>

    <h3>
      All-rounder of Visual Arts Wakes Up The Audience<br />
      <small>Artist introduction by Veikko Halmetoja (translated from Finnish by Mika Salminen)</small>
    </h3>

    <p>Laura Kärki creates images, words and sound. She is the visual artist,
      poet and sound designer of her own works. In addition to this, she is
      artisan who lets the technique and work process show in the works and be part of them.</p>

    <p>Versatility is a strength. Kärki searches her artistic direction from
      content, not esthetics. She has content first, then materials and
      finally form. Her works are created with technique that best supports
      the content. The form does not, however, get in the shadow of the
      content. Well chosen materials and techniques come to their own when
      they are in harmony with the content. The price Kärki pays from this is
      the lack of visual distinguishing characteristics.</p>

    <p>It makes harder to create an artist brand but brings more credibility. In
      her chosen way, the works speak from themselves, and she is left with
      time to think and deepen the content.</p>

    <p>Kärki is proficient in working with both ceramics and textile and
      utilizes her expertise in her works. She stiches sculptures, reproduces
      object collages as ceramics, and even makes photo print sculptures on
      fabric of customers' own pictures.</p>

    <p>Pill Days (2010) is ceramics. There contraceptive pill packagings are
      reproduced of traditional design material. The contradiction is
      delicious especially because the work is very beautiful. With a material
      choice, an everyday object having however controversial set of values
      has become an interesting statement.</p>

    <p>Stress Balls (2011) are big black pillows. They are gentle oddities
      stitched to form. Stress balls reach their many hands towards the
      viewer. Whether they are asking or giving help remains unanswered.</p>

    <p>Why Won't Anyone Play With Me? (2011) is a sad small sculpture, where
      many of Kärki's used techniques merge. The work stiched from a fabric
      print also has a soundscape. The girl in the print is Kärki herself, but
      that is not ultimately what matters. The work depicts children's
      feelings of loneliness in a general and recognizable way.</p>

    <p>Themes of alienation and feelings of being left out bind Kärki's works.
      Loneliness, friends and relatives forgotten in a hurry, and inability
      for empathy are all related to social problems of contemporary society.</p>

    <p>Kärki does not slack around but has the courage to comment against
      indifference. She teaches us to ask How Are You (2011) written with
      calligraphy taught in elementary school and gives out her poems within
      crumbled paper balls to read in the work Momentary Reliefs (2003-2011).
      Engagements (2010) is made of molten symbols of love, to which probably
      many who have experienced deception or break-ups can relate.</p>

    <p>The works are eloquent and force to think. They hold inside small cracks,
      that give out unscrupulous characteristics of the reality we all have
      accustomed to. Kärki is a topical visual artist, who does not respect
      boundaries. She has the courage to take expressive risks and because of
      this, her works are easily approachable. The works are experiential and
      rise emotions. That is a welcome and rare characteristic in this era of
      calculated expression.</p>

    <p><strong>Veikko Halmetoja</strong><br /><strong>2011</strong></p>
  }

  @if (lang() === 'fi') {
    <h3>Bio</h3>
    <p class="bio">
      <span class="bio-photo-wrapper">
        <img ngSrc="/images/eka.jpg" width="200" height="267" alt="Laura Kärki" class="bio-img" />
      </span>
      Laura Kärki tunnetaan kuvataiteen monitaiteilijana, joka tekee teoksia laajasti eri materiaaleja,
      tekniikoita monipuolisesti ja ennakkoluulottomasti hyödyntäen. Viimeaikaisissa teoksissaan vuonna 2020
      hän on pohtinut mm. perhesuhteita ja ulkosuomalaisuutta öljypastellimaalausten, tekstiiliprinttien,
      keramiikan ja valokuvan keinoin. Kärki myös kirjoittaa runoja ja lisää teoksiin äänimaailmoja.
    </p>

    <p>Kärki on asunut viimeiset kymmenen vuotta Berliinissä. Asuttuaan pitkään Saksassa, hän uskaltaa tarttua
      henkilökohtaisiin aiheisiin, jotka koskettavat laajemmin yleisöä ja joissa näkyy suomalaisen identiteetin
      peilautumista. Kärki kirjoittaa työskentelystään: Olen jatkuvasti taiteessani, ehkä elämässäni kuin
      nuorallatanssija, mutta en koskaan tipu – se tekee työstäni rohkeaa. Se tekee siitä syvää, niin toivon,
      rohkeutta haluan välittää katsojalle.</p>

    <p>Kärki on valmistunut vuonna 2006 Aalto-yliopistosta taiteen maisteriksi.
      Hänen teoksiaan on hankittu viimeisten vuosien aikana taidemuseoiden kokoelmiin, kuten Aineen Taidemuseoon ja
      Lahden taidemuseoon, sekä hänen töitään kuuluu yksityisiin kokoelmiin. Suomen Valtion taidekokoelmiin kuuluu
      Kärjen ääni-installaatio. Hänen julkiset teoksensa ovat esillä Suomen Messukeskuksessa, Hotelli Hiltonissa
      Hakaniemessä, Helsingissä ja Borenius &amp; Kemppisen asianajotoimistossa.</p>

    <p>Kärkeä edustaa Suomessa Veikko Halmetoja johtamassaan Gallery Halmetojassa. Kärjen teoksia nähtiin Koreassa
      kahdessa eri näyttelyssä vuonna 2020. Hänen viimeisin näyttelynsä Suomessa, Punnittu esitys, oli Galleria
      Halmetojassa tammikuussa 2019. Family Affairs näyttely avautuu Berliinin Kulturhaus Karlshorstissa vuoden 2021
      tammikuussa. Näyttely toteutetaan duona Niina Lehtonen-Braunin kanssa. Näyttelyn kuraattori on Dr. Sylvia Metz
      ja näyttelyä tukee Suomen-Saksan instituutti.</p>

    <h3>Artist Statement</h3>

    <p>Teen sanaa, kuvaa ja ääntä. Työskentelen monipuolisesti osaamiskenttieni parissa ja
      teen eri materiaaleista koostuvia installaatioita, runoja ja ääniteoksia. Lisäksi olen vielä
      käsityöläinen ja annan eri tekniikoiden näkyä teoksissani.</p>

    <p>Käsittelen teoksissani ulkopuolisuuden tunteita, yksinäisyyttä sekä irrallisuuden
      kokemuksia suhteessa toisiin ihmisiin. Tällä hetkellä työskentelen nykyperheen
      viitekehyksen parissa ja valmistelen vuosien 2021 ja 2022 näyttelyitä, joita esittelen niin
      Suomessa kuin Saksassa.</p>

    <h3>Taiteellisesta työskentelystä</h3>

    <p>Viime vuosina olen työskennellyt useiden ääni-installaatioiden parissa, kirjoittanut runoja sekä
      tehnyt veistoksia eri materiaaleista. Teoksissani yhdistelen näitä eri elementtejä toisiinsa.</p>

    <p>Jo useamman vuoden ajan olen käsitellyt teoksissani kiirettä ja sen vaikutusta ihmiseen ja hänen
      lähiympäristöönsä. Kiireisen arjen hahmottaminen on syventynyt seuraavan kysymyksen äärelle: Milloin
      läsnäolo muuttuu poissaoloksi? Tuon kysymyksen kautta olen pohtinut muun muassa sitä, kuinka läsnäolemisen
      tasot horjuvat niin helposti, sillä ympäröivä elämämme on niin pirstaleista. Kiireisen arjen keskellä
      on vaara, että sitä muuttuu välinpitämättömäksi. Lähellä olevat merkitykselliset ja arvokkaat asiat
      jäävät arkisen kiireen alle. Kun läsnäolo muuttuu poissaoloksi, missä ihminen tuolloin oikeastaan on?</p>

    <p>Työskentelyprosessini kaari ideasta valmiiksi teokseksi saattaa kestää useita vuosia. Hidas kypsyminen
      on mielenkiintoista, vaikkakin haasteellista, sillä ympäröivä todellisuutemme on erittäin pirstaleista.</p>

    <p>Uudet teokseni ovat sisällöllisesti jatkumoa aikaisemmille töilleni, joissa on kokemuksia kiireen
      läsnäolosta. Olen käsitellyt teoksissani ulkopuolisuuden tunteita, yksinäisyyttä,
      sekä irrallisuuden kokemuksia suhteessa toisiin ihmisiin.</p>

    <p>Työskentelen Berliinissä, Lahdessa, Helsingissä sekä taiteilijaresidensseissä ulkomailla.
      Valmistelen parhaillaan tulevien vuosien näyttelyitä.</p>

    <h3>
      Kuvataiteen moniottelija herättelee katsojia<br />
      <small>Veikko Halmetojan kirjoittama taiteilijaesittely</small>
    </h3>

    <p>Laura Kärki tekee kuvaa, sanaa ja ääntä. Hän on omien teosten kuvataiteilija, runoilija ja
      äänisuunnittelija. Tämän ohella hän on vielä käsityöläinen, joka antaa tekniikan ja tekemisen
      näkyä teoksissa, olla osa niitä.</p>

    <p>Monipuolisuus on vahvuus. Kärki hakee taiteellista linjaansa sisällöstä ei estetiikasta. Hänellä
      on ensin sisältö, sen jälkeen materiaalit ja lopulta muoto. Hänen teoksensa syntyvät tekniikalla,
      joka parhaiten tukee teoksen sisältöä. Muoto ei jää kuitenkaan sisällön varjoon. Hyvin valitut
      materiaalit ja tekniikat pääsevät oikeuksiinsa, kun ne ovat sopusoinnussa sisällön kanssa. Hinta,
      jonka Kärki tästä maksaa, on selkeiden visuaalisten tunnusmerkkien puute.</p>

    <p>Se vaikeuttaa taiteilijabrändin luomista, mutta parantaa uskottavuutta. Hänen valitsemallaan
      tiellä teokset puhuvat puolestaan, ja hänelle itselleen jää aikaa ajatteluun ja sisältöjen
      syventämiseen.</p>

    <p>Kärki on sekä keramiikka- että tekstiilialan ammattilainen, joka hyödyntää ammattitaitoaan
      teoksissa. Hän ompelee veistoksia, toistaa esinekoosteet keramiikkana ja tekee jopa
      kangasprinttiveistoksia asiakkaiden omista kuvista.</p>

    <p>Pilleripäivät (2010) on keramiikkaa. Siinä ehkäisypilleripakkaukset on valmistettu perinteisestä
      designmateriaalista. Ristiriita on herkullinen erityisesti siksi, että teos on hyvin kaunis.
      Materiaalivalinnalla arkisesta mutta ristiriitaista arvosisältöä kantavasta esineestä on tullut
      kiinnostava kannanotto.</p>

    <p>Stressipallot (2011) ovat suuria mustia tyynyjä. Ne ovat muotoon ommeltuja lempeitä kummajaisia.
      Stressipallot ojentavat lukuisia käsiään katsojaa kohden. Pyytävätkö vai tarjoavatko ne apua,
      jää kysymykseksi?</p>

    <p>Miksei kukaan leiki mun kanssa? (2011) on surullinen pieni veistos, jossa yhdistyvät useat
      Kärjen käyttämät tekniikat. Kangasprintistä ommeltu teos pitää sisällään myös äänimaiseman.
      Kuvan pikkutyttö on Kärki itse, mutta se ei lopulta ole merkityksellistä. Teos kuvittaa lasten
      yksinäisyyden kokemuksia yleisellä ja tunnistettavalla tavalla.</p>

    <p>Kärjen teoksia yhdistää vierauden ja ulkopuolisuuden teemat. Yksinäisyys, kiireeseen unohtuneet
      lähimmäiset ja kyvyttömyys empatiaan kytkeytyvät kaikki nyky-yhteiskunnan sosiaalisiin ongelmiin.</p>

    <p>Kärki ei lepsuile vaan uskaltaa kommentoida piittaamattomuutta. Hän opettaa meitä kysymään
      Mitä kuuluu? (2011) koulukaunolla kirjoitetuissa seinätauluissa ja antaa runojaan luettaviksi
      rutattujen paperien sisältä teoksessa Hetken helpotuksia (2003-2011). Kihlajaisia (2010) koostuu
      sulaneista rakkauden symboleista ja iskee varmaan monen jätetyn ja petetyn yksinäisyyden kokemukseen.</p>

    <p>Teokset ovat puhuttelevia ja pakottavat ajattelemaan. Ne pitävät sisällään pieniä murtumia,
      jotka paljastavat raadollisia piirteitä siitä todellisuudesta, johon olemme turtuneet. Kärki on
      ajankohtainen kuvataiteilija, jonka ilmaisu ei kunnioita rajoja. Hän uskaltaa ottaa ilmaisullisia
      riskejä ja tästä syystä hänen teoksiaan on helppo lähestyä. Teokset ovat elämyksellisiä ja
      herättävät emootioita. Se on tervetullut ja harvinainen piirre tänä laskelmoidun ilmaisun
      aikakautena.</p>

    <p><strong>Veikko Halmetoja</strong><br /><strong>2011</strong></p>
  }
</div>
