<div class="scrolled-content">
  @if (lang() === 'en') {
    <h3>Poems</h3>
    <p>
      Download my poem collection (in Finnish)
      <a target="_blank" rel="noopener noreferrer" href="/resources/hiiliperhonen.pdf">
        Hiiliperhonen on nimesi, kaipaat kiinnitettä siipiisi
      </a>
    </p>

    <blockquote class="blockquote">
      <p>
        Hiiliperhonen is Laura Kärki's first poem collection, whose poems have
        been born between a long period of time. The work is indeed a result of
        a long process, it describes the struggle between inner and outer world:
        dreams and real life, household work and making art. Skin without
        protection and hard shells are contrapuntal images on top of which even
        the dialog between the poems is built on.
      </p>
      <p>
        But when You is found, the change sneaks in: one drops from the edge of
        melancholy in other's arms, even one's mouth melts within strokes.
        'Within hold of sleeping butterflies / I bind summer trail's violets to
        dance' is one of the most beautiful poems in the collection.
      </p>
      <footer class="blockquote-footer">Editor: MA Maaria Matikainen (translated by Mika Salminen)</footer>
    </blockquote>

    <p>I am currently looking for a grant to translate the collection to English and German.</p>

    <h3>A Measured Presentation catalog</h3>
    <p>
      Download the exhibition catalog PDF
      <a target="_blank" rel="noopener noreferrer" href="/resources/laura_karki_a_measured_presentation.pdf">here</a>
    </p>

    <h3>A Finn in Germany: Laura Kärki, visual artist</h3>
    <p>
      <a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/watch/?v=904851727262198">
        A video interview
      </a>
      made by Finnish Embassy of Germany
    </p>

    <h3>Site programming</h3>
    <p>(c) 2014 Mika Salminen – for hire mika dot o dot salminen at gmail dot com</p>
  }

  @if (lang() === 'fi') {
    <h3>Runot</h3>
    <p>
      Lataa runokokoelmani
      <a target="_blank" rel="noopener noreferrer" href="/resources/hiiliperhonen.pdf">
        Hiiliperhonen on nimesi, kaipaat kiinnitettä siipiisi
      </a>
    </p>

    <blockquote class="blockquote">
      <p>
        Hiiliperhonen on Laura Kärjen ensimmäinen kokoelma, jonka runot ovat syntyneet pitkän ajan
        kuluessa. Teos onkin pitkällisen prosessin tulos, se kuvaa sisä- ja ulkomaailman välistä
        kamppailua ja vuoropuhelua: haaveita ja elämää, kotitaloutta ja taiteen tekemistä. Suojaton
        iho ja kovat kuoret ovat kontrapunktisia kuvia, joiden varaan runojen keskinäinenkin dialogi
        rakentuu.
      </p>
      <p>
        Mutta kun Sinä löytyy, muutos tapahtuu kuin huomaamatta: tipahdetaan melankolian laidalta
        syliin, suukin sulaa silityksiin. Uinuvien perhosten otteessa / Sidon kesäpolun orvokit
        tanssiksi on yksi kokoelman kauneimmista runoista.
      </p>
      <footer class="blockquote-footer">Toimittaja: Toim. fil.maist. Maaria Matikainen</footer>
    </blockquote>

    <p>Etsin parhaillaan kokoelmalle käännösrahoitusta suomi-englanti ja suomi-saksa.</p>

    <h3>Punnittu esitys-katalogi</h3>
    <p>
      Lataa näyttelyn katalogi-PDF
      <a target="_blank" rel="noopener noreferrer" href="/resources/laura_karki_a_measured_presentation.pdf">tästä</a>
    </p>

    <h3>Suomalainen Saksassa: Laura Kärki, kuvataiteilija</h3>
    <p>
      Suomen Saksan suurlähetystön tekemä
      <a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/watch/?v=904851727262198">
        haastatteluvideo
      </a>
    </p>

    <h3>Sivuohjelmointi</h3>
    <p>(c) 2014 Mika Salminen – tilaukset mika piste o piste salminen miukumauku gmail piste com</p>
  }
</div>
